{# DiscoDevBar Template                                                           #}
{# This template displays DiscoDevBar with links to various tools and information #}
{# Show with `{% if app.environment == 'dev' %}` condition                        #}

{% set banner_data = debug_banner_data() %}

<link rel="stylesheet" href="{{ asset('bundles/discodevbar/devbar.css') }}">
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/{{ banner_data.fontAwesomeVersion|default('6.7.2') }}/css/all.min.css"
  crossorigin="anonymous"
  referrerpolicy="no-referrer" />

<div class="disco-devbar{% if banner_data.hasError %} disco-devbar-error{% endif %}" style="--bg-color-light: {{ banner_data.bgColorLight }}; --bg-color-dark: {{ banner_data.bgColorDark }}">
    <div class="disco-devbar-content">
        {% if banner_data.hasError %}
            <div class="disco-devbar-container-left">
                <span class="disco-devbar-widget">
                    <a href="https://github.com/MarcinOrlowski/php-symfony-discodevbar" class="disco-devbar-link" target="_blank" title="Visit DiscoDevBar on GitHub">
                        <span class="disco-devbar-link-content">Disco DevBar</span>
                    </a>
                </span>
                <span class="disco-devbar-separator">&middot;</span>
                <span class="disco-devbar-widget">
                    <span class="disco-devbar-text">v{{ banner_data.version ?? 'N/A' }} * {{ banner_data.errorMessage }}</span>
                </span>
            </div>
        {% else %}
            <div class="disco-devbar-container-left {% if banner_data.leftExpand %}disco-devbar-container-expand{% endif %}">
                {% for widget in banner_data.left %}
                    {% if not loop.first %}
                        <span class="disco-devbar-separator">&middot;</span>
                    {% endif %}
                    {% if widget.type == 'close' %}
                        <span class="disco-devbar-widget">
                            <a href="#" class="disco-devbar-link" onclick="document.querySelector('.disco-devbar').remove(); return false;" title="Close DevBar">
                                <span class="disco-devbar-link-content">✕</span>
                            </a>
                        </span>
                    {% else %}
                        <span class="disco-devbar-widget {% if widget.expand %}disco-devbar-widget-expand{% endif %}">
                            <a href="{{ widget.url }}"
                               class="disco-devbar-link"
                               {% if widget.target %}target="{{ widget.target }}"{% endif %}
                               {% if widget.title %}title="{{ widget.title }}"{% endif %}>
                                <span class="disco-devbar-link-content">
                                    {% if widget.icon %}
                                        {% if widget.iconType.value == 'fa' %}
                                            <i class="fa-solid {{ widget.icon }}"></i>
                                        {% else %}
                                            {{ widget.icon }}
                                        {% endif %}
                                    {% endif %}
                                    {% if widget.text %}{{ widget.text }}{% endif %}
                                </span>
                            </a>
                        </span>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="disco-devbar-container-right {% if banner_data.rightExpand %}disco-devbar-container-expand{% endif %}">
                {% for widget in banner_data.right %}
                    {% if not loop.first %}
                        <span class="disco-devbar-separator">&middot;</span>
                    {% endif %}
                    {% if widget.type == 'close' %}
                        <span class="disco-devbar-widget">
                            <a href="#" class="disco-devbar-link" onclick="document.querySelector('.disco-devbar').remove(); return false;" title="Close DevBar">
                                <span class="disco-devbar-link-content">✕</span>
                            </a>
                        </span>
                    {% else %}
                        <span class="disco-devbar-widget {% if widget.expand %}disco-devbar-widget-expand{% endif %}">
                            <a href="{{ widget.url }}"
                               class="disco-devbar-link"
                               {% if widget.target %}target="{{ widget.target }}"{% endif %}
                               {% if widget.title %}title="{{ widget.title }}"{% endif %}>
                                <span class="disco-devbar-link-content">
                                    {% if widget.icon %}
                                        {% if widget.iconType.value == 'fa' %}
                                            <i class="fa-solid {{ widget.icon }}"></i>
                                        {% else %}
                                            {{ widget.icon }}
                                        {% endif %}
                                    {% endif %}
                                    {% if widget.text %}{{ widget.text }}{% endif %}
                                </span>
                            </a>
                        </span>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
