{# DiscoDevBar Template                                                           #}
{# This template displays DiscoDevBar with links to various tools and information #}
{# Show with `{% if app.environment == 'dev' %}` condition                        #}

<div class="disco-devbar">
    <div class="disco-devbar-content">
        {% set banner_data = debug_banner_data() %}
        <div class="disco-devbar-container-left {% if banner_data.leftExpand %}disco-devbar-container-expand{% endif %}">
            {% for widget in banner_data.left %}
                {% if not loop.first %}
                    <span class="disco-devbar-separator">&middot;</span>
                {% endif %}
                <span class="disco-devbar-widget {% if widget.expand %}disco-devbar-widget-expand{% endif %}">
                    <a href="{{ widget.url }}"
                       class="disco-devbar-link"
                       {% if widget.target %}target="{{ widget.target }}"{% endif %}
                       {% if widget.title %}title="{{ widget.title }}"{% endif %}>
                        <span class="disco-devbar-link-content">
                            {% if widget.icon %}<i class="fa-solid {{ widget.icon }}"></i>{% endif %}
                            {% if widget.text %}{{ widget.text }}{% endif %}
                        </span>
                    </a>
                </span>
            {% endfor %}
        </div>
        <div class="disco-devbar-container-right {% if banner_data.rightExpand %}disco-devbar-container-expand{% endif %}">
            {% for widget in banner_data.right %}
                {% if not loop.first %}
                    <span class="disco-devbar-separator">&middot;</span>
                {% endif %}
                <span class="disco-devbar-widget {% if widget.expand %}disco-devbar-widget-expand{% endif %}">
                    <a href="{{ widget.url }}"
                       class="disco-devbar-link"
                       {% if widget.target %}target="{{ widget.target }}"{% endif %}
                       {% if widget.title %}title="{{ widget.title }}"{% endif %}>
                        <span class="disco-devbar-link-content">
                            {% if widget.icon %}<i class="fa-solid {{ widget.icon }}"></i>{% endif %}
                            {% if widget.text %}{{ widget.text }}{% endif %}
                        </span>
                    </a>
                </span>
            {% endfor %}
        </div>
    </div>
</div>
